<%= form_for(@profile, url: { action: 'update' }) do |profile_form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, 'error') %> prohibited this profile from being saved</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for @profile.user do |user_fields| %>
    <div class="field">
      <%= user_fields.label :email %><br />
      <%= user_fields.email_field :email %>
    </div>

    <div class="field">
      <%= user_fields.label :first_name %><br />
      <%= user_fields.text_field :first_name %>
    </div>

    <div class="field">
      <%= user_fields.label :last_name %><br />
      <%= user_fields.text_field :last_name %>
    </div>
  <% end %>

  <div class="field">
    <%= profile_form.label :date_of_birth %><br />
    <%= profile_form.date_field :date_of_birth %>
    <%= profile_form.label :date_of_birth_visible %><br />
    <%= profile_form.check_box :date_of_birth_visible, checked: false %>
  </div>

  <div class="field">
    <%= profile_form.label :profession %><br />
    <%= profile_form.text_field :profession %>
  </div>

  <div class="field">
    <%= profile_form.label :greeting %><br />
    <%= profile_form.text_field :greeting %>
  </div>

  <div class="field">
    <%= profile_form.label :bio %><br />
    <%= profile_form.text_field :bio %>
  </div>

  <div class="field">
    <%= profile_form.label :mobile_number %><br />
    <%= profile_form.text_field :mobile_number %>
    <%= profile_form.label :mobile_number_visible %><br />
    <%= profile_form.check_box :mobile_number_visible, checked: false %>
  </div>

  <div class="field">
    <%= profile_form.label :favorite_cuisine %><br />
    <%= profile_form.text_field :favorite_cuisine %>
  </div>

  <div class="actions">
    <%= profile_form.submit 'Save profile' %>
  </div>
<% end %>

<%= link_to "Delete your account", delete_user_path %>
<%= link_to "Change your password", edit_password_user_path %>
