<%= render partial: "admin/shared/form_errors", locals: { object: @event } %>

<div class="row">
  <%= f.input :host_id, collection: @hosts, label_method: :name, required: true,
                        wrapper_html: { class: "col s12" },
                        label_html: { class: "active" } %>

  <%= f.input :title, wrapper_html: { class: "col s12" } %>

  <%= f.input :date_date, as: :string, label: "Date", placeholder: "e.g. 2015-08-28",
                          wrapper_html: { class: "col s8 m5" },
                          input_html: { type: "date", class: "datepicker", value: @event.date.try(:strftime, "%F") },
                          label_html: { class: "active" } %>

  <%= f.input :date_time, as: :time, html5: true, label: "Time", placeholder: "e.g. 19:30",
                          wrapper_html: { class: "col s4 m3" },
                          input_html: { value: @event.date.try(:strftime, "%R") },
                          label_html: { class: "active" } %>

  <%= f.input :price, label: "Price (£)", placeholder: "e.g. 25.00",
                      wrapper_html: { class: "col s6 m2" },
                      input_html: { type: "number", min: "0", step: "any" },
                      label_html: { class: "active" } %>

  <%= f.input :seats, wrapper_html: { class: "col s6 m2" },
                      input_html: { min: "0", step: "1" },
                      label_html: { class: "active" } %>

  <%= f.input :location, wrapper_html: { class: "col s12 m6" } %>
  <%= f.input :location_url, placeholder: "e.g. http://example.com",
                             wrapper_html: { class: "col s12 m6" },
                             label_html: { class: "active" } %>

  <%= f.input :short_description, as: :text, wrapper_html: { class: "col s12" }, input_html: { class: "materialize-textarea", length: 80 } %>

  <div class="col s12">
    <p><a href="https://gist.github.com/tomsabin/6e258c8247083015baf5" target="_blank">Markdown</a> can be used for description and menu fields</p>
  </div>

  <%= f.input :description, wrapper_html: { class: "col s12" }, input_html: { class: "materialize-textarea" } %>
  <%= f.input :menu, wrapper_html: { class: "col s12" }, input_html: { class: "materialize-textarea" } %>

  <div class="col s12">
    <div class="section">
      <h6 class="grey-text">Primary photo (1024 x 678px)</h6>
      <%= f.file_field :primary_photo, accept: "image/*" %>
      <%= f.hidden_field :primary_photo_cache %>
    </div>

    <img src="<%= @event.primary_photo.url %>" id="photo_preview" alt="Primary event photo" class="responsive-img event-primary-photo">

    <div class="section">
      <h6 class="grey-text">Other photos (minimum of 2, maximum of 6)</h6>
      <%= f.file_field :photos, accept: "image/*", multiple: true %>
    </div>

    <div class="event-photos">
      <% @event.photos.each_with_index do |photo, index| %>
        <img src="<%= photo.url %>" alt="Event photo" class="responsive-img" id="photo-<%= index + 1 %>">
      <% end %>
    </div>
  </div>

  <% if @event.new_record? %>
    <div class="col s12">
      <p>
        <%= f.check_box :state, { class: "filled-in", checked: false }, "pending", "available" %>
        <label for="event_state">Pending event</label>
      </p>
    </div>
  <% end %>
</div>

<script>
  $("select").material_select();
  $(".datepicker").pickadate({
    selectMonths: true,
    selectYears: 15
  });
</script>

<%= javascript_require "primary_photo" %>
<%= javascript_require "photos" %>
