<%= f.error_notification %>

<%= f.input :title %>
<%= f.input :location %>
<%= f.input :description %>
<%= f.input :menu %>
<%= f.input :seats %>
<%= f.input :price_in_pennies, label: 'Price (in pence)' %>
<%= f.input :currency, input_html: { value: f.object.currency || 'GBP'} %>

<p><a href="https://gist.github.com/tomsabin/6e258c8247083015baf5" target="_blank">Markdown</a> can be used for description and menu fields</p>
