<script>
/* jquery.imagefit
 *
 * Version 0.2 by Oliver Boermans <http://www.ollicle.com/eg/jquery/imagefit/>
 *
 * Extends jQuery <http://jquery.com>
 *
 */
(function($) {
  $.fn.imagefit = function(options) {
    var fit = {
      all : function(imgs){
        imgs.each(function(){
          fit.one(this);
          })
        },
      one : function(img){
        $(img)
          .width('100%').each(function()
          {
            $(this).height(Math.round(
              $(this).attr('startheight')*($(this).width()/$(this).attr('startwidth')))
            );
          })
        }
    };

    this.each(function(){
        var container = this;

        // store list of contained images (excluding those in tables)
        var imgs = $('img', container).not($("table img"));

        // store initial dimensions on each image
        imgs.each(function(){
          $(this).attr('startwidth', $(this).width())
            .attr('startheight', $(this).height())
            .css('max-width', $(this).attr('startwidth')+"px");

          fit.one(this);
        });
        // Re-adjust when window width is changed
        $(window).bind('resize', function(){
          fit.all(imgs);
        });
      });
    return this;
  };
})(jQuery);


/*!
 * imagesLoaded PACKAGED v3.1.8
 * JavaScript is all like "You images are done yet or what?"
 * MIT License
 */

(function(){function e(){}function t(e,t){for(var n=e.length;n--;)if(e[n].listener===t)return n;return-1}function n(e){return function(){return this[e].apply(this,arguments)}}var i=e.prototype,r=this,o=r.EventEmitter;i.getListeners=function(e){var t,n,i=this._getEvents();if("object"==typeof e){t={};for(n in i)i.hasOwnProperty(n)&&e.test(n)&&(t[n]=i[n])}else t=i[e]||(i[e]=[]);return t},i.flattenListeners=function(e){var t,n=[];for(t=0;e.length>t;t+=1)n.push(e[t].listener);return n},i.getListenersAsObject=function(e){var t,n=this.getListeners(e);return n instanceof Array&&(t={},t[e]=n),t||n},i.addListener=function(e,n){var i,r=this.getListenersAsObject(e),o="object"==typeof n;for(i in r)r.hasOwnProperty(i)&&-1===t(r[i],n)&&r[i].push(o?n:{listener:n,once:!1});return this},i.on=n("addListener"),i.addOnceListener=function(e,t){return this.addListener(e,{listener:t,once:!0})},i.once=n("addOnceListener"),i.defineEvent=function(e){return this.getListeners(e),this},i.defineEvents=function(e){for(var t=0;e.length>t;t+=1)this.defineEvent(e[t]);return this},i.removeListener=function(e,n){var i,r,o=this.getListenersAsObject(e);for(r in o)o.hasOwnProperty(r)&&(i=t(o[r],n),-1!==i&&o[r].splice(i,1));return this},i.off=n("removeListener"),i.addListeners=function(e,t){return this.manipulateListeners(!1,e,t)},i.removeListeners=function(e,t){return this.manipulateListeners(!0,e,t)},i.manipulateListeners=function(e,t,n){var i,r,o=e?this.removeListener:this.addListener,s=e?this.removeListeners:this.addListeners;if("object"!=typeof t||t instanceof RegExp)for(i=n.length;i--;)o.call(this,t,n[i]);else for(i in t)t.hasOwnProperty(i)&&(r=t[i])&&("function"==typeof r?o.call(this,i,r):s.call(this,i,r));return this},i.removeEvent=function(e){var t,n=typeof e,i=this._getEvents();if("string"===n)delete i[e];else if("object"===n)for(t in i)i.hasOwnProperty(t)&&e.test(t)&&delete i[t];else delete this._events;return this},i.removeAllListeners=n("removeEvent"),i.emitEvent=function(e,t){var n,i,r,o,s=this.getListenersAsObject(e);for(r in s)if(s.hasOwnProperty(r))for(i=s[r].length;i--;)n=s[r][i],n.once===!0&&this.removeListener(e,n.listener),o=n.listener.apply(this,t||[]),o===this._getOnceReturnValue()&&this.removeListener(e,n.listener);return this},i.trigger=n("emitEvent"),i.emit=function(e){var t=Array.prototype.slice.call(arguments,1);return this.emitEvent(e,t)},i.setOnceReturnValue=function(e){return this._onceReturnValue=e,this},i._getOnceReturnValue=function(){return this.hasOwnProperty("_onceReturnValue")?this._onceReturnValue:!0},i._getEvents=function(){return this._events||(this._events={})},e.noConflict=function(){return r.EventEmitter=o,e},"function"==typeof define&&define.amd?define("eventEmitter/EventEmitter",[],function(){return e}):"object"==typeof module&&module.exports?module.exports=e:this.EventEmitter=e}).call(this),function(e){function t(t){var n=e.event;return n.target=n.target||n.srcElement||t,n}var n=document.documentElement,i=function(){};n.addEventListener?i=function(e,t,n){e.addEventListener(t,n,!1)}:n.attachEvent&&(i=function(e,n,i){e[n+i]=i.handleEvent?function(){var n=t(e);i.handleEvent.call(i,n)}:function(){var n=t(e);i.call(e,n)},e.attachEvent("on"+n,e[n+i])});var r=function(){};n.removeEventListener?r=function(e,t,n){e.removeEventListener(t,n,!1)}:n.detachEvent&&(r=function(e,t,n){e.detachEvent("on"+t,e[t+n]);try{delete e[t+n]}catch(i){e[t+n]=void 0}});var o={bind:i,unbind:r};"function"==typeof define&&define.amd?define("eventie/eventie",o):e.eventie=o}(this),function(e,t){"function"==typeof define&&define.amd?define(["eventEmitter/EventEmitter","eventie/eventie"],function(n,i){return t(e,n,i)}):"object"==typeof exports?module.exports=t(e,require("wolfy87-eventemitter"),require("eventie")):e.imagesLoaded=t(e,e.EventEmitter,e.eventie)}(window,function(e,t,n){function i(e,t){for(var n in t)e[n]=t[n];return e}function r(e){return"[object Array]"===d.call(e)}function o(e){var t=[];if(r(e))t=e;else if("number"==typeof e.length)for(var n=0,i=e.length;i>n;n++)t.push(e[n]);else t.push(e);return t}function s(e,t,n){if(!(this instanceof s))return new s(e,t);"string"==typeof e&&(e=document.querySelectorAll(e)),this.elements=o(e),this.options=i({},this.options),"function"==typeof t?n=t:i(this.options,t),n&&this.on("always",n),this.getImages(),a&&(this.jqDeferred=new a.Deferred);var r=this;setTimeout(function(){r.check()})}function f(e){this.img=e}function c(e){this.src=e,v[e]=this}var a=e.jQuery,u=e.console,h=u!==void 0,d=Object.prototype.toString;s.prototype=new t,s.prototype.options={},s.prototype.getImages=function(){this.images=[];for(var e=0,t=this.elements.length;t>e;e++){var n=this.elements[e];"IMG"===n.nodeName&&this.addImage(n);var i=n.nodeType;if(i&&(1===i||9===i||11===i))for(var r=n.querySelectorAll("img"),o=0,s=r.length;s>o;o++){var f=r[o];this.addImage(f)}}},s.prototype.addImage=function(e){var t=new f(e);this.images.push(t)},s.prototype.check=function(){function e(e,r){return t.options.debug&&h&&u.log("confirm",e,r),t.progress(e),n++,n===i&&t.complete(),!0}var t=this,n=0,i=this.images.length;if(this.hasAnyBroken=!1,!i)return this.complete(),void 0;for(var r=0;i>r;r++){var o=this.images[r];o.on("confirm",e),o.check()}},s.prototype.progress=function(e){this.hasAnyBroken=this.hasAnyBroken||!e.isLoaded;var t=this;setTimeout(function(){t.emit("progress",t,e),t.jqDeferred&&t.jqDeferred.notify&&t.jqDeferred.notify(t,e)})},s.prototype.complete=function(){var e=this.hasAnyBroken?"fail":"done";this.isComplete=!0;var t=this;setTimeout(function(){if(t.emit(e,t),t.emit("always",t),t.jqDeferred){var n=t.hasAnyBroken?"reject":"resolve";t.jqDeferred[n](t)}})},a&&(a.fn.imagesLoaded=function(e,t){var n=new s(this,e,t);return n.jqDeferred.promise(a(this))}),f.prototype=new t,f.prototype.check=function(){var e=v[this.img.src]||new c(this.img.src);if(e.isConfirmed)return this.confirm(e.isLoaded,"cached was confirmed"),void 0;if(this.img.complete&&void 0!==this.img.naturalWidth)return this.confirm(0!==this.img.naturalWidth,"naturalWidth"),void 0;var t=this;e.on("confirm",function(e,n){return t.confirm(e.isLoaded,n),!0}),e.check()},f.prototype.confirm=function(e,t){this.isLoaded=e,this.emit("confirm",this,t)};var v={};return c.prototype=new t,c.prototype.check=function(){if(!this.isChecked){var e=new Image;n.bind(e,"load",this),n.bind(e,"error",this),e.src=this.src,this.isChecked=!0}},c.prototype.handleEvent=function(e){var t="on"+e.type;this[t]&&this[t](e)},c.prototype.onload=function(e){this.confirm(!0,"onload"),this.unbindProxyEvents(e)},c.prototype.onerror=function(e){this.confirm(!1,"onerror"),this.unbindProxyEvents(e)},c.prototype.confirm=function(e,t){this.isConfirmed=!0,this.isLoaded=e,this.emit("confirm",this,t)},c.prototype.unbindProxyEvents=function(e){n.unbind(e.target,"load",this),n.unbind(e.target,"error",this)},s});

  /**
   * imagefill.js
   * Author & copyright (c) 2013: John Polacek
   * johnpolacek.com
   * https://twitter.com/johnpolacek
   *
   * Dual MIT & GPL license
   *
   * Project Page: http://johnpolacek.github.io/imagefill.js
   *
   * The jQuery plugin for making images fill their containers (and be centered)
   *
   * EXAMPLE
   * Given this html:
   * <div class="container"><img src="myawesomeimage" /></div>
   * $('.container').imagefill(); // image stretches to fill container
   *
   * REQUIRES:
   * imagesLoaded - https://github.com/desandro/imagesloaded
   *
   */
   ;(function($) {

    $.fn.imagefill = function(options) {

      var $container = this,
          imageAspect = 1/1,
          containersH = 0,
          containersW = 0,
          defaults = {
            runOnce: false,
            target: 'img',
            throttle : 200  // 5fps
          },
          settings = $.extend({}, defaults, options);

      var $img = $container.find(settings.target).addClass('loading').css({'position':'absolute'});

      // make sure container isn't position:static
      var containerPos = $container.css('position');
      $container.css({'overflow':'hidden','position':(containerPos === 'static') ? 'relative' : containerPos});

      // set containerH, containerW
      $container.each(function() {
        containersH += $(this).outerHeight();
        containersW += $(this).outerWidth();
      });

      // wait for image to load, then fit it inside the container
      $container.imagesLoaded().done(function(img) {
        imageAspect = $img.width() / $img.height();
        $img.removeClass('loading');
        fitImages();
        if (!settings.runOnce) {
          checkSizeChange();
        }
      });

      function fitImages() {
        containersH  = 0;
        containersW = 0;
        $container.each(function() {
          imageAspect = $(this).find(settings.target).width() / $(this).find(settings.target).height();
          var containerW = $(this).outerWidth(),
              containerH = $(this).outerHeight();
          containersH += $(this).outerHeight();
          containersW += $(this).outerWidth();

          var containerAspect = containerW/containerH;
          if (containerAspect < imageAspect) {
            // taller
            $(this).find(settings.target).css({
                width: 'auto',
                height: containerH,
                top:0,
                left:-(containerH*imageAspect-containerW)/2
              });
          } else {
            // wider
            $(this).find(settings.target).css({
                width: containerW,
                height: 'auto',
                top:-(containerW/imageAspect-containerH)/2,
                left:0
              });
          }
        });
      }

      function checkSizeChange() {
        var checkW = 0,
            checkH = 0;
        $container.each(function() {
          checkH += $(this).outerHeight();
          checkW += $(this).outerWidth();
        });
        if (containersH !== checkH || containersW !== checkW) {
          fitImages();
        }
        setTimeout(checkSizeChange, settings.throttle);
      }

      return this;
    };

  }(jQuery));
</script>


<%= render partial: "admin/shared/form_errors", locals: { object: @event } %>

<div class="row">
  <%= f.input :host_id, collection: @hosts, label_method: :name, required: true,
                        wrapper_html: { class: "col s12" },
                        label_html: { class: "active" } %>

  <%= f.input :title, wrapper_html: { class: "col s12" } %>

  <%= f.input :date_date, as: :string, label: "Date", placeholder: "e.g. 2015-08-28",
                     wrapper_html: { class: "col s8 m5" },
                     input_html: { type: "date", class: "datepicker", value: @event.date.try(:strftime, "%F") },
                     label_html: { class: "active" } %>

  <%= f.input :date_time, as: :time, html5: true, label: "Time", placeholder: "e.g. 19:30",
                     wrapper_html: { class: "col s4 m3" },
                     input_html: { value: @event.date.try(:strftime, "%R") },
                     label_html: { class: "active" } %>

  <%= f.input :price, label: "Price (£)", placeholder: "e.g. 25.00",
                      wrapper_html: { class: "col s6 m2" },
                      input_html: { type: "number", min: "0", step: "any" },
                      label_html: { class: "active" } %>

  <%= f.input :seats, wrapper_html: { class: "col s6 m2" },
                      input_html: { min: "0", step: "1" },
                      label_html: { class: "active" } %>

  <%= f.input :location, wrapper_html: { class: "col s12 m6" } %>
  <%= f.input :location_url, placeholder: "e.g. http://example.com",
                             wrapper_html: { class: "col s12 m6" },
                             label_html: { class: "active" } %>

  <div class="col s12">
    <p><a href="https://gist.github.com/tomsabin/6e258c8247083015baf5" target="_blank">Markdown</a> can be used for description and menu fields</p>
  </div>

  <%= f.input :description, wrapper_html: { class: "col s12" }, input_html: { class: "materialize-textarea" } %>
  <%= f.input :menu, wrapper_html: { class: "col s12" }, input_html: { class: "materialize-textarea" } %>

  <div id="primary_photo_container" class="col s12">
    <div class="section">
      <h6 class="grey-text">Primary photo (1024 x 678px)</h6>
      <%= f.file_field :primary_photo, accept: "image/*" %>
      <%= f.hidden_field :primary_photo_cache %>
    </div>

    <div id="photo_preview_container">
      <img src="<%= @event.primary_photo.url %>" id="photo_preview" class="responsive-img" alt="Primary event photo" width="1024px" height="678px">
    </div>

    <script>
      // $('#photo_preview_container').imagefit();
      $("#event_primary_photo").change(function(){
        var input = this

        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            var $img = $("#photo_preview");
            $img.removeAttr("width");
            $img.removeAttr("height");
            $img.attr("src", e.target.result);
            // $('#photo_preview_container').imagefill(); // <-- need this to not disappear!
            // $('#photo_preview_container').imagefit();
          }

          reader.readAsDataURL(input.files[0]);
        }
      });
    </script>
  </div>

</div>

<script>
  $("select").material_select();
  $(".datepicker").pickadate({
    selectMonths: true,
    selectYears: 15
  });
</script>
