<div class="wip">
  <%= render partial: "/events/event_content", locals: { event: @event, host: @event_host, user: @event_user } %>

  <%= form_for [:admin, @event] do |f| %>
    <%= f.hidden_field :host_id %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :price %>
    <%= f.hidden_field :seats %>
    <%= f.hidden_field :location %>
    <%= f.hidden_field :location_url %>
    <%= f.hidden_field :description %>
    <%= f.hidden_field :menu %>

    <%= f.submit "Create event" %>
    <%= link_to "Edit", new_admin_event_path %>
  <% end %>
</div>
