<article class="event-thumbnail">
  <a class="event-thumbnail__link" href="<%= link %>" title="<%= event.title %>" data-ga="events">
    <img class="event-thumbnail__primary-photo" src="<%= event.primary_photo.thumb.url %>" alt="<%= event.title %>">
    <div class="event-thumbnail__content-container">
      <h1 class="event-thumbnail__title"><%= event.title %></h1>
      <p class="event-thumbnail__date"><%= event.formatted_date %></p>
      <span class="event-thumbnail__price-label"><%= humanized_money_with_symbol event.price %></span>
      <p class="event-thumbnail__short-description"><%= event.short_description %></p>
      <p class="event-thumbnail__location"><%= event.location %></p>
    </div>
  </a>
</article>
