<% content_for :user_edit_actions do %>
  <div class="user-edit__action-group">
    <ul class="user-edit__action">
      <li>
        <%= link_to "View public profile", member_path(@user), class: "user-edit__link" %>
      </li>
      <li>
        <%= link_to "Change your password", edit_password_user_path, class: "user-edit__link" %>
      </li>
    </ul>
  </div>

  <div class="user-edit__action-group">
    <ul class="user-edit__action">
      <li>
        <% if @verified_with_facebook %>
          <%= link_to "Disconnect from Facebook", disconnect_user_path(provider: :facebook), method: :delete, class: "user-edit__link" %>
        <% else %>
          <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), class: "user-edit__link" %>
        <% end %>
      </li>

      <li>
        <% if @verified_with_twitter %>
          <%= link_to "Disconnect from Twitter", disconnect_user_path(provider: :twitter), method: :delete, class: "user-edit__link" %>
        <% else %>
          <%= link_to "Connect with Twitter", user_omniauth_authorize_path(:twitter), class: "user-edit__link" %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="user-edit__action-group">
    <%= link_to "Delete your account", delete_user_path, class: "user-edit__link" %>
  </div>
<% end %>

<div class="user-edit">
  <div class="user-edit__actions">
    <div class="user-edit__profile">
      <%= link_to member_path(@user) do %>
        <%= gravatar_image_tag @user.email, class: "user-edit__avatar" %>
        <h2 class="user-edit__user-name">
          <%= @user.full_name %>
        </h2>
      <% end %>

      <div class="user-edit__user-actions">
        <%= link_to "Dashboard", dashboard_path, class: "user-edit__profile-action" %>
        <%= link_to "Edit profile", edit_user_path, class: "user-edit__active-profile-action" %>
      </div>

      <div class="user-edit__additional-actions-tablet">
        <%= content_for :user_edit_actions %>
      </div>
    </div>
  </div>

  <div class="user-edit__form">
    <%= simple_form_for current_user, url: { action: "update" }, defaults: { error: true } do |f| %>
      <div class="user-edit__errors">
        <%= f.error_notification %>
      </div>

      <%= f.input :email,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :first_name,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :last_name,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :date_of_birth, html5: true, placeholder: "YYYY-MM-DD",
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :date_of_birth_visible, label: "Show on my profile",
            input_html: { class: "user-edit__visibility-checkbox-input" },
            label_html: { class: "user-edit__visibility-checkbox-label" },
            wrapper_html: { class: "user-edit__visibility-checkbox" } %>
      <%= f.input :profession,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :greeting,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :favorite_cuisine,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :bio,
            input_html: { class: "user-edit__textarea-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :mobile_number, as: :tel, html5: true,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <%= f.input :mobile_number_visible, label: "Show on my profile",
            input_html: { class: "user-edit__visibility-checkbox-input" },
            label_html: { class: "user-edit__visibility-checkbox-label" },
            wrapper_html: { class: "user-edit__visibility-checkbox" } %>
      <%= f.input :slug,
            input_html: { class: "user-edit__text-input" },
            label_html: { class: "user-edit__text-label" } %>
      <div class="user-edit__help-box">
        <p>The location of your member profile (<%= request.base_url %>/member/<%= current_user.slug %>)</p>
      </div>
      <%= f.button :submit, "Save profile", data: { disable_with: "Saving" }, class: "user-edit__submit" %>
      <%= link_to "Cancel", dashboard_path, class: "user-edit__cancel"%>
    <% end %>
  </div>

  <div class="user-edit__additional-actions-mobile">
    <%= content_for :user_edit_actions %>
  </div>
</div>
