<div class="user-edit-password">
  <h2 class="user-edit-password__title">
    Edit password
  </h2>

  <%= simple_form_for @user, url: { action: "update_password" }, defaults: { error: true } do |f| %>
    <div class="user-edit-password__errors">
      <%= f.error_notification %>
    </div>

    <%= f.input :current_password, autocomplete: "off",
          input_html: { class: "user-edit-password__input" },
          label_html: { class: "user-edit-password__label" } %>
    <%= f.input :password, autocomplete: "off", label: "New password",
          input_html: { class: "user-edit-password__input" },
          label_html: { class: "user-edit-password__label" } %>
    <%= f.input :password_confirmation, label: "Confirm new password",
          input_html: { class: "user-edit-password__input" },
          label_html: { class: "user-edit-password__label" } %>
    <%= f.button :submit, "Update password", class: "user-edit-password__submit" %>
  <% end %>
</div>
