<div class="wip">
  <%= profile_prompt %>

  <%= simple_form_for current_user, url: { action: "update" }, defaults: { error: true } do |f| %>
    <%= f.error_notification %>

    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :date_of_birth, html5: true, placeholder: "YYYY-MM-DD" %>
    <%= f.input :date_of_birth_visible %>
    <%= f.input :profession %>
    <%= f.input :greeting %>
    <%= f.input :bio, as: :string %>
    <%= f.input :mobile_number, as: :tel, html5: true %>
    <%= f.input :mobile_number_visible %>
    <%= f.input :favorite_cuisine %>
    <%= f.button :submit, "Save profile" %>
  <% end %>

  <% if current_user.profile_complete? %>
    <%= link_to "Delete your account", delete_user_path %>
    <%= link_to "Change your password", edit_password_user_path %>

    <% if @verified_with_facebook %>
      <%= link_to "Disconnect Facebook from your account", disconnect_user_path(provider: :facebook), method: :delete %>
    <% end %>

    <% if @verified_with_twitter %>
      <%= link_to "Disconnect Twitter from your account", disconnect_user_path(provider: :twitter), method: :delete %>
    <% end %>
  <% end %>
</div>
