<div class="dashboard">
  <div class="dashboard__profile">
    <%= link_to member_path(@user) do %>
      <%= gravatar_image_tag @user.email, class: "dashboard__avatar" %>
      <h2 class="dashboard__user-name">
        <%= @user.full_name %>
      </h2>
    <% end %>

    <div class="dashboard__user-actions">
      <%= link_to "Dashboard", dashboard_path, class: "dashboard__active-user-action" %>
      <%= link_to "Edit profile", edit_user_path, class: "dashboard__user-action" %>
    </div>
  </div>

  <div class="dashboard__panel">
    <h4 class="dashboard__user-field-heading">
      Email
    </h4>
    <p class="dashboard__user-field">
      <%= @user.email %>
    </p>

    <h4 class="dashboard__user-field-heading">
      Last name
    </h4>
    <p class="dashboard__user-field">
      <%= @user.last_name %>
    </p>

    <h4 class="dashboard__user-field-heading">
      Date of birth
    </h4>
    <p class="dashboard__user-field">
      <%= @user.date_of_birth %>

      <% if !@user.date_of_birth_visible? %>
        <span class="dashboard__hidden-user-field">
          (not publicly visible)
        </span>
      <% end %>
    </p>

    <h4 class="dashboard__user-field-heading">
      Profession
    </h4>
    <p class="dashboard__user-field">
      <%= @user.profession %>
    </p>

    <h4 class="dashboard__user-field-heading">
      Greeting
    </h4>
    <p class="dashboard__user-field">
      <%= @user.greeting %>
    </p>

    <h4 class="dashboard__user-field-heading">
      Bio
    </h4>
    <p class="dashboard__user-field">
      <%= @user.bio %>
    </p>

    <h4 class="dashboard__user-field-heading">
      Mobile number
    </h4>
    <p class="dashboard__user-field">
      <%= @user.mobile_number %>

      <% if !@user.mobile_number_visible? %>
        <span class="dashboard__hidden-user-field">
          (not publicly visible)
        </span>
      <% end %>
    </p>

    <h4 class="dashboard__user-field-heading">
      Favourite cuisine
    </h4>
    <p class="dashboard__user-field">
      <%= @user.favorite_cuisine %>
    </p>
  </div>
</div>
