<div class="dashboard">
  <div class="dashboard__profile">
    <%= gravatar_image_tag @user.email, class: "dashboard__avatar" %>
    <h2 class="dashboard__user-name">
      <%= @user.full_name %>
    </h2>

    <div class="dashboard__user-actions">
      <%= link_to "View profile", member_path(@user), class: "dashboard__user-action" %>
      <%= link_to "Edit profile", edit_user_path, class: "dashboard__user-action" %>
    </div>
  </div>
  <div class="dashboard__other wip">
    Email:
    <%= @user.email %>

    <br/>

    Last name:
    <%= @user.last_name %>

    <br/>

    Date of birth:
    <%= @user.date_of_birth %>
    <% if !@user.date_of_birth_visible? %>
      Date of birth is hidden on public view
    <% end %>

    <br/>

    Profession:
    <%= @user.profession %>

    <br/>

    Greeting:
    <%= @user.greeting %>

    <br/>

    Bio:
    <%= @user.bio %>

    <br/>

    Mobile number:
    <%= @user.mobile_number %>
    <% if !@user.mobile_number_visible? %>
      Mobile number is hidden on public view
    <% end %>

    <br/>

    Favourite cuisine:
    <%= @user.favorite_cuisine %>
  </div>
</div>
