<section class="events">
  <div class="container">
    <a name="events"></a>
    <h1>Upcoming events</h1>

    <% if @events.blank? %>
      <p class="error">Oops, something went wrong. Check out our upcoming events at <a href="http://www.meetup.com/Food-Lovers-in-London/">our Meetup page</a>.</p>
    <% else %>
      <% @events.each do |event| %>
        <article class="event">
          <a href="<%= event.url %>" title="<%= event.name %>" data-ga="events">
            <img src="<%= event.photo_url %>" alt="<%= event.name %>">
            <h2><%= event.name %></h2>

            <div class="details">
              <span class="date"><%= event.date %></span>
              <span class="price"><%= event.fee %></span>
            </div>

            <p class="description">
              <%= event.description %>
            </p>

            <% if !event.venue.empty? %>
              <p class="venue">
                <%= event.venue %>
              </p>
            <% end %>
          </a>
        </article>
      <% end %>
    <% end %>
  </div>
</section>
