<p>Photos</p>

<%= humanized_money_with_symbol event.price %>

<hr>

<p><%= event.title %></p>

<p><%= event.formatted_date %></p>

<p>Hosted by</p>

<img src="" alt="">

<p><%= link_to event.host.name, host_path(event.host) %></p>

<p><%= event.location %> | <%= link_to "View on map", event.location_url %> </p>

<h1>Details</h1>
<div class="markdown description">
  <%= markdown(event.description).html_safe %>
</div>

<h1>Menu</h1>
<div class="markdown menu">
  <%= markdown(event.menu).html_safe %>
</div>
