<%= simple_form_for @event do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :date, html5: true, placeholder: "YYYY-MM-DD HH:MM", input_html: { type: 'datetime-local' } %>
  <%= f.input :price, label: "Price (£)", input_html: { type: "number", min: "0", step: "any" } %>
  <%= f.input :seats, input_html: { min: "0", step: "1" } %>
  <%= f.input :location %>
  <%= f.input :location_url %>

  <div class="row">
    <div class="col s12">
      <p><a href="https://gist.github.com/tomsabin/6e258c8247083015baf5" target="_blank">Markdown</a> can be used for description and menu fields</p>
    </div>
  </div>

  <%= f.input :description %>
  <%= f.input :menu %>

  <%= f.input :primary_photo, as: :file, label: "Primary photo (1024 x 678px)", input_html: { accept: "image/*" } %>
  <%= f.hidden_field :primary_photo_cache %>
  <img src="<%= @event.primary_photo.url %>" id="photo_preview" alt="Primary event photo" class="responsive-img">

  <script>
    $("#event_primary_photo").change(function () {
      var input = this

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $("#photo_preview").attr("src", e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    });
  </script>

  <%= f.input :photos, as: :file, label: "Other photos (minimum of 2, maximum of 6)", input_html: { multiple: true, accept: "image/*" } %>
  <div class="event-photos"></div>

  <script>
    $("#event_photos").change(function () {
      var input = this;
      var fileCount = input.files.length;
      var $container = $(".event-photos");
      $container.empty();

      if (input.files && fileCount >= 2 && fileCount <= 6) {
        $.each(input.files, function (index, file) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $container.append('<img class="responsive-img" src="' + e.target.result +'">');
          }

          reader.readAsDataURL(file);
        });
      }
    });
  </script>

  <%= f.button :submit, "Submit event", data: { disable_with: "Submitting" } %>
<% end %>
