<% title "WhatWeAte - #{@event.title}" %>

<div class="event-show">
  <%= render partial: "event_content", locals: { event: @event, host: @event_host, user: @event_user } %>

  <div class="event-show__event-booking">
    <p class="event-show__event-size">
      <i class="fa fa-users"></i>
      <%= @event.remaining_seats %> seats remaining
    </p>

    <% if @already_booked %>
      <button class="event-show__booking-button" type="button" disabled>Book seat</button>
      <p class="event-show__booking-help-text">You are booked on to this event</p>
    <% elsif @current_user_is_event_host %>
      <button class="event-show__booking-button" type="button" disabled>Book seat</button>
      <p class="event-show__booking-help-text">This is your own event</p>
    <% elsif @event.sold_out? %>
      <button class="event-show__booking-button" type="button" disabled>Book seat</button>
    <% else %>
      <%= form_tag event_bookings_path(@event) do %>
        <%= submit_tag 'Book seat', id: "no-js-submit", class: "event-show__booking-button" %>
        <% if user_signed_in? && current_user.completed_profile? %>
          <script
            class="stripe-button"
            src="https://checkout.stripe.com/checkout.js"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-label="Book seat"
            data-email="<%= current_user.email %>"
            data-image="<%= asset_url("icons/logo-icon-128.jpg") %>"
            data-name="WhatWeAte"
            data-description="<%= @event.title %>"
            data-amount="<%= @event.price_in_pennies %>"
            data-currency="<%= @event.currency %>">
          </script>
          <script>$("#no-js-submit").remove();</script>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
