<div class="wip">
  <p>Photos</p>

  <%# unless @event.seated?(current_user) %>
    <%= form_tag event_bookings_path(@event) do %>
      <%= submit_tag 'Book seat' %>
    <% end %>
  <%# end %>

  <%= humanized_money_with_symbol @event.price %>

  <hr>

  <p><%= @event.title %></p>

  <p>Hosted by</p>

  <img src="" alt="">

  <p><%= @event.host.name %></p>

  <p><%= @event.location %> | <%= link_to "View on map", "#" %> </p>

  <h1>Details</h1>
  <div class="markdown description">
    <%= markdown(@event.description).html_safe %>
  </div>

  <h1>Menu</h1>
  <div class="markdown menu">
    <%= markdown(@event.menu).html_safe %>
  </div>

  <div class="guests">
    <% @guests.each do |guest| %>
      <%= guest.full_name %>
    <% end %>
  </div>
</div>
