<article class="event wip">
  <a href="<%= link %>" title="<%= event.title %>" data-ga="events">
    <img src="<%#= event.photo_url %>" alt="<%= event.title %>">
    <h2><%= event.title %></h2>

    <div class="details">
      <span class="date"><%= event.formatted_date %></span>
      <span class="price"><%= humanized_money_with_symbol event.price %></span>
    </div>

    <div class="markdown description">
      <%= markdown(event.description).html_safe %>
    </div>

    <% if !event.location.empty? %>
      <p class="venue">
        <%= event.location %>
      </p>
    <% end %>
  </a>
</article>
