<section class="proposition">
  <div class="container">
    <div class="content">
      <h1>Bringing People Together Over Food.</h1>
      <h2>Find delicious intimate dining experiences near you.</h2>
      <%= link_to "Join a table", root_path(anchor: "events"), data: { ga: "conversion" } %>
    </div>
  </div>
</section>

<section class="newsletter">
  <p>
    Join our tribe of social food lovers
  </p>
  <div class="input-container">
    <form id="newsletter" action="//whatweate.us9.list-manage.com/subscribe?u=3ae9a01a53d464033afcc3009&amp;id=eb7d06a555" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <input type="text" name="b_3ae9a01a53d464033afcc3009_eb7d06a555" tabindex="-1" value="" style="position:absolute;left:-999px;">

      <input type="text" value="" name="FNAME" class="input name first-name" id="mce-FNAME" placeholder="First Name" required><!--
      --><input type="text" value="" name="LNAME" class="input name last-name" id="mce-LNAME" placeholder="Last Name" required><!--
      --><input type="email" value="" name="EMAIL" class="input email" id="mce-EMAIL" placeholder="Email address" required><!--
      --><input type="submit" class="submit" value="Let Me In!" name="subscribe" id="mc-embedded-subscribe">
    </form>
  </div>
  <div id="response" class="response"></div>
</section>

<section class="how-it-works">
  <a name="how_it_works"></a>

  <div class="label-container">
    <label class="guests" for="guests">Guests</label>
    <label class="hosts" for="hosts">Hosts</label>
  </div>

  <div class="content-container">
    <input type="radio" id="guests" name="how-it-works" class="toggle" checked>
    <div class="togglable-content">
      <article class="step">
        <div class="content">
          <div class="image-container">
            <%= image_tag "icons/browse.png", alt: "Find an event" %>
          </div>
          <div class="text-container">
            <h2>Find an event</h2>
            <p>Discover delicious meals by hosts who love cooking</p>
          </div>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <%= image_tag "icons/join.png", alt: "Join a table" %>
          </div>
          <div class="text-container">
            <h2>Join a table</h2>
            <p>Book your seat and wait for the location to be revealed</p>
          </div>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <%= image_tag "icons/talk.png", alt: "Make new friends" %>
          </div>
          <div class="text-container">
            <h2>Make new friends</h2>
            <p>Show up for a fun and memorable evening!</p>
          </div>
        </div>
      </article>
    </div>

    <input type="radio" id="hosts" name="how-it-works" class="toggle">
    <div class="togglable-content">
      <article class="step">
        <div class="content">
          <div class="image-container">
            <%= image_tag "icons/submit.png", alt: "Introduce yourself" %>
          </div>
          <div class="text-container">
            <h2>Introduce yourself</h2>
            <p>Submit your application and begin listing events for free</p>
          </div>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <%= image_tag "icons/create.png", alt: "Let the cooking begin" %>
          </div>
          <div class="text-container">
            <h2>Let the cooking begin</h2>
            <p>Design your menus and prepare to host</p>
          </div>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <%= image_tag "icons/paid.png", alt: "Get paid!" %>
          </div>
          <div class="text-container">
            <h2>Get paid!</h2>
            <p>Money in your account within 24hrs after your events</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="events">
  <div class="container">
    <a name="events"></a>
    <h1>Upcoming events</h1>

    <% if @events.blank? %>
      <p class="error"><%= t("failure.no_events") %></p>
    <% else %>
      <% @events.each do |event| %>
        <%= render partial: "event_thumbnail", locals: { link: event_path(event), event: event } %>
      <% end %>
    <% end %>
  </div>
</section>

<%= javascript_require "pages-home" %>
