<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head", locals: { layout: "application", title: "WhatWeAte Style Guide" } %>
  <body id="<%= page_id %>">

  <div class="atoms-colors">
    <div class="pattern-header">
      Colors
    </div>
    <div class="pattern-body">
      <%= color_palette(%w(dc7a31 ba6220 000000 777470 927e6f ece9e7 f7f6f5 ffffff)) %>
    </div>
  </div>

  <div class="atoms-fonts">
    <div class="pattern-header">
      Fonts
    </div>
    <div class="pattern-body">
      <p class="brand-font">Brand font: "Pacifico", "Helvetica", sans-serif;</p>
      <p class="primary-font">Primary font: "Carrois Gothic", "Helvetica", sans-serif;</p>
      <p class="secondary-font">Secondary font: "Bebas", "Helvetica", sans-serif;</p>
    </div>
  </div>

  <div class="atoms-headings">
    <div class="pattern-header">
      Headings
    </div>
    <div class="pattern-body">
      <h1>Heading Level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      <h6>Heading Level 6</h6>
    </div>
  </div>

  <div class="atoms-paragraph">
    <div class="pattern-header">
      Paragraph
    </div>
    <div class="pattern-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptas placeat repellendus nostrum similique, reiciendis dolorum ipsa repudiandae minus explicabo voluptatem voluptatum deleniti laudantium pariatur aliquid. Libero eveniet iusto, placeat dicta iste asperiores quam veritatis ab officia, voluptatibus distinctio, eaque.</p>
    </div>
  </div>

  <div class="atoms-inline-elements">
    <div class="pattern-header">
      Inline elements
    </div>
    <div class="pattern-body">
      <div class="text">
        <p><a href="#<%= SecureRandom.hex %>">This is a text link</a></p>

        <p><a href="#" class="visited">This is a visited text link</a></p>

        <p><strong>Strong is used to indicate strong importance</strong></p>

        <p><em>This text has added emphasis</em></p>

        <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

        <p>The <i>i element</i> is text that is set off from the normal text</p>

        <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

        <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>

        <p><s>This text has a strikethrough</s></p>

        <p>Superscript<sup>®</sup></p>

        <p>Subscript for things like H<sub>2</sub>O</p>

        <p><small>This small text is small for for fine print, etc.</small></p>

        <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

        <p>Keybord input: <kbd>Cmd</kbd></p>

        <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

        <p><cite>This is a citation</cite>

        </p><p>The <dfn>dfn element</dfn> indicates a definition.</p>

        <p>The <mark>mark element</mark> indicates a highlight</p>

        <p><code>This is what inline code looks like.</code></p>

        <p><samp>This is sample output from a computer program</samp></p>

        <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
      </div>
    </div>
  </div>

  <div class="atoms-time">
    <div class="pattern-header">
      Time
    </div>
    <div class="pattern-body">
      <p><%= time_tag Date.yesterday, "Yesterday" %></p>
      <p><%= time_tag Time.current, "Right now" %></p>
    </div>
  </div>

  <div class="atoms-hr">
    <div class="pattern-header">
      HR
    </div>
    <div class="pattern-body">
      <hr>
    </div>
  </div>

  <div class="atoms-unordered-list">
    <div class="pattern-header">
      Unordered list
    </div>
    <div class="pattern-body">
      <ul>
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
          Lists can be nested inside of each other
          <ul>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an unordered list</li>
          </ul>
        </li>
        <li>This is the last list item</li>
      </ul>
    </div>
  </div>

  <div class="atoms-ordered-list">
    <div class="pattern-header">
      Ordered list
    </div>
    <div class="pattern-body">
      <ol>
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
          Lists can be nested inside of each other
          <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list</li>
          </ol>
        </li>
        <li>This is the last list item</li>
      </ol>
    </div>
  </div>

  <div class="atoms-definition">
    <div class="pattern-header">
      Definition
    </div>
    <div class="pattern-body">
      <dl>
        <dt>Definition List</dt>
        <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
        <dt>This is a term.</dt>
        <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
        <dt>Here is another term.</dt>
        <dd>And it gets a definition too, which is this line.</dd>
        <dt>Here is term that shares a definition with the term below.</dt>
        <dd>And it gets a definition too, which is this line.</dd>
      </dl>
    </div>
  </div>

  <div class="atoms-logo">
    <div class="pattern-header">
      Logo
    </div>
    <div class="pattern-body">
      <div>
        <%= link_to "#", alt: "WhatWeAte", title: "WhatWeAte", class: "logo" do %>
          <%= image_tag "logo-icon.png", class: "logo-icon" %>
          <%= image_tag "logo-text.png", class: "logo-text", alt: "WhatWeAte" %>
        <% end %>
      </div>

      <div>
        <%= link_to "#", alt: "WhatWeAte", title: "WhatWeAte", class: "logo logo-tablet" do %>
          <%= image_tag "logo-icon.png", class: "logo-icon" %>
          <%= image_tag "logo-text.png", class: "logo-text", alt: "WhatWeAte" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="atoms-photos">
    <div class="pattern-header">
      Proposition image (2000x1000px)
    </div>
    <div class="pattern-body">
      <%= image_tag "proposition.jpg" %>
    </div>
  </div>

  <div class="atoms-photos">
    <div class="pattern-header">
      Event placeholder image (600x397px)
    </div>
    <div class="pattern-body">
      <%= image_tag "events/primary_default.png" %>
    </div>
  </div>

  <div class="atoms-photos">
    <div class="pattern-header">
      Event placeholder thumbnail image (292x193px)
    </div>
    <div class="pattern-body">
      <%= image_tag "events/primary_default_thumb.png" %>
    </div>
  </div>

  <div class="atoms-photos">
    <div class="pattern-header">
      Member avatar
    </div>
    <div class="pattern-body">
      <%= gravatar_image_tag "" %>
    </div>
  </div>

  <div class="atoms-icons">
    <div class="pattern-header">
      Icons
    </div>
    <div class="pattern-body">
      <%= image_tag "icons/browse.png", alt: "Find an event" %>
      <%= image_tag "icons/join.png", alt: "Join a table" %>
      <%= image_tag "icons/talk.png", alt: "Make new friends" %>
      <%= image_tag "icons/submit.png", alt: "Introduce yourself" %>
      <%= image_tag "icons/create.png", alt: "Let the cooking begin" %>
      <%= image_tag "icons/paid.png", alt: "Get paid!" %>
    </div>
  </div>

  <div class="atoms-icons">
    <div class="pattern-header">
      Social links
    </div>
    <div class="pattern-body">
      <ul class="social">
        <a href="https://www.facebook.com/whatweate.co" class="facebook">
          Facebook
        </a>
        <a href="https://twitter.com/WhatWeAteCo" class="twitter">
          Twitter
        </a>
        <a href="http://instagram.com/whatweate.co" class="instagram">
          Instagram
        </a>
        <a href="mailto:hello@whatweate.co" class="email">
          Email
        </a>
      </ul>
    </div>
  </div>

  <div class="atoms-favicon">
    <div class="pattern-header">
      Favicon
    </div>
    <div class="pattern-body">
      <img src="/favicon-16.ico" alt="" width="16px" height="16px">
      <img src="/favicon-32.ico" alt="" width="32px" height="32px">
    </div>
  </div>

  <div class="atoms-text-fields">
    <div class="pattern-header">
      Text fields
    </div>
    <div class="pattern-body">
      <div class="input-field required">
        <label class="required">Text Input <abbr title="Required">*</abbr></label>
        <input class="string required" type="text" placeholder="Text Input">
      </div>

      <div class="input-field optional">
        <label class="password optional">Password</label>
        <input class="password optional" type="password" placeholder="Type your password">
      </div>

      <div class="input-field optional">
        <label class="url optional">Web Address</label>
        <input class="url optional" type="url" placeholder="http://example.com">
      </div>

      <div class="input-field optional">
        <label class="email optional">Email Address</label>
        <input class="email optional" type="email" placeholder="user@example.com">
      </div>

      <div class="input-field optional">
        <label class="search optional">Search</label>
        <input class="search optional" type="search" placeholder="Enter Search Term">
      </div>

      <div class="input-field required">
        <label class="required">Number Input <abbr title="Required">*</abbr></label>
        <input class="number required" type="number" placeholder="Enter a Number" pattern="[0-9]*">
      </div>

      <div class="input-field optional">
        <label class="text optional">Textarea</label>
        <textarea class="text optional" rows="8" cols="48" placeholder="Enter your message here"></textarea>
      </div>
    </div>
  </div>

  <div class="atoms-html5-input">
    <div class="pattern-header">
      HTML5 input
    </div>
    <div class="pattern-body">
      <div class="input-field required">
        <label class="required">Number input <abbr title="Required">*</abbr></label>
        <input class="number required" type="number" min="0" max="5" value="3">
      </div>

      <div class="input-field datetime required event_date">
        <label class="datetime required">
        <abbr title="required">*</abbr> Datetime</label>
        <input type="datetime-local" class="datetime required" placeholder="YYYY-MM-DD HH:MM">
      </div>

      <div class="input-field date optional event_title">
        <label class="date optional">Date</label>
        <input class="date optional" type="date">
      </div>

      <div class="input-field time optional event_title">
        <label class="time optional">Time</label>
        <input class="time optional" type="time">
      </div>
    </div>
  </div>

  <div class="atoms-input-error">
    <div class="pattern-header">
      Input field (error state)
    </div>
    <div class="pattern-body">
      <div class="error-notification">Please review the following errors</div>

      <div class="input-field optional field-with-errors">
        <label class="error optional">Error Input</label>
        <input class="text optional" type="text" placeholder="Text Input">
        <span class="error">can't be blank</span>
      </div>
    </div>
  </div>

  <div class="atoms-file-input">
    <div class="pattern-header">
      File input
    </div>
    <div class="pattern-body">
      <div class="input-field file optional ">
        <label class="file optional">File input</label>
        <input accept="image/*" class="file optional" type="file">
      </div>
    </div>
  </div>

  <div class="atoms-select-menu">
    <div class="pattern-header">
      Select menu
    </div>
    <div class="pattern-body">
      <div class="input-field select optional">
        <label class="select optional">Select</label>
        <select class="select optional">
          <option></option>
          <option>Option one</option>
          <option>Option two</option>
        </select>
      </div>
    </div>
  </div>

  <div class="atoms-checkbox">
    <div class="pattern-header">
      Checkbox
    </div>
    <div class="pattern-body">
      <div class="input-field check_boxes optional">
        <label class="check_boxes optional">Checkbox</label>
        <span class="checkbox">
          <label for="checkbox-a">
          <input class="check_boxes optional" type="checkbox" id="checkbox-a">Choice A</label>
        </span>
        <span class="checkbox">
          <label for="checkbox-b">
          <input class="check_boxes optional" readonly="readonly" type="checkbox" id="checkbox-b">Choice B</label>
        </span>
        <span class="checkbox">
          <label for="checkbox-c">
          <input class="check_boxes optional" readonly="readonly" type="checkbox" id="checkbox-c">Choice C</label>
        </span>
      </div>
    </div>
  </div>

  <div class="atoms-radio-buttons">
    <div class="pattern-header">
      Radio buttons
    </div>
    <div class="pattern-body">
      <div class="input-field radio_buttons optional ">
        <label class="radio_buttons optional">Radio buttons</label>
        <span class="radio">
          <label for="radio-a">
          <input class="radio_buttons optional" type="radio" id="radio-a">Choice A</label>
        </span>
        <span class="radio">
          <label for="radio-b">
          <input class="radio_buttons optional" readonly="readonly" type="radio" id="radio-b">Choice B</label>
        </span>
        <span class="radio">
          <label for="radio-c">
          <input class="radio_buttons optional" readonly="readonly" type="radio" id="radio-c">Choice C</label>
        </span>
      </div>
    </div>
  </div>

  <div class="atoms-buttons">
    <div class="pattern-header">
      Buttons
    </div>
    <div class="pattern-body">
      <input type="submit" value="Submit" class="btn">
      <a href="#" class="btn"><span>Link</span></a>
      <button class="btn">Button</button>
      <label class="btn btn-heading">Button heading</label>
    </div>
  </div>

  <div class="atoms-label">
    <div class="pattern-header">
      Label
    </div>
    <div class="pattern-body">
      <div class="label">£35.00</div>
    </div>
  </div>

  <div class="atoms-table">
    <div class="pattern-header">
      Table
    </div>
    <div class="pattern-body">
      <table>
        <thead>
          <tr>
            <th>Table Heading 1</th>
            <th>Table Heading 2</th>
            <th>Table Heading 3</th>
            <th>Table Heading 4</th>
            <th>Table Heading 5</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Table Footer 1</th>
            <th>Table Footer 2</th>
            <th>Table Footer 3</th>
            <th>Table Footer 4</th>
            <th>Table Footer 5</th>
          </tr>
        </tfoot>
        <tbody>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="molecules-menu">
    <div class="pattern-header">
      Menu (interactive)
    </div>
    <div class="pattern-body">
      <div class="menu">
        <input type="checkbox" id="molecules-menu">
        <label  class="btn" for="molecules-menu">Menu</label>
        <ul>
          <li><a class="btn" href="#"><span>Item one</span></a></li>
          <li><a class="btn" href="#"><span>Item two</span></a></li>
          <li><a class="btn" href="#"><span>Item three</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  </body>
</html>
