<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head", locals: { layout: "application", title: "WhatWeAte Style Guide" } %>
  <body id="<%= page_id %>">

  <div class="atoms-colors">
    <div class="pattern-header">
      Colors
    </div>
    <div class="pattern-body">
      <%= color_palette(%w(dc7a31 ba6220 000000 777470 927e6f ece9e7 f7f6f5 ffffff)) %>
    </div>
  </div>

  <div class="atoms-fonts">
    <div class="pattern-header">
      Fonts
    </div>
    <div class="pattern-body">
      <p class="brand-font">Brand font: "Pacifico", "Helvetica", sans-serif;</p>
      <p class="primary-font">Primary font: "Carrois Gothic", "Helvetica", sans-serif;</p>
      <p class="secondary-font">Secondary font: "Bebas", "Helvetica", sans-serif;</p>
    </div>
  </div>

  <div class="atoms-headings">
    <div class="pattern-header">
      Headings
    </div>
    <div class="pattern-body">
      <h1>Heading Level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      <h6>Heading Level 6</h6>
    </div>
  </div>

  <div class="atoms-paragraph">
    <div class="pattern-header">
      Paragraph
    </div>
    <div class="pattern-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptas placeat repellendus nostrum similique, reiciendis dolorum ipsa repudiandae minus explicabo voluptatem voluptatum deleniti laudantium pariatur aliquid. Libero eveniet iusto, placeat dicta iste asperiores quam veritatis ab officia, voluptatibus distinctio, eaque.</p>
    </div>
  </div>

  <div class="atoms-inline-elements">
    <div class="pattern-header">
      Inline elements
    </div>
    <div class="pattern-body">
      <div class="text">
        <p><a href="#<%= SecureRandom.hex %>">This is a text link</a></p>

        <p><a href="#" class="visited">This is a visited text link</a></p>

        <p><strong>Strong is used to indicate strong importance</strong></p>

        <p><em>This text has added emphasis</em></p>

        <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

        <p>The <i>i element</i> is text that is set off from the normal text</p>

        <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

        <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>

        <p><s>This text has a strikethrough</s></p>

        <p>Superscript<sup>®</sup></p>

        <p>Subscript for things like H<sub>2</sub>O</p>

        <p><small>This small text is small for for fine print, etc.</small></p>

        <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

        <p>Keybord input: <kbd>Cmd</kbd></p>

        <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

        <p><cite>This is a citation</cite>

        </p><p>The <dfn>dfn element</dfn> indicates a definition.</p>

        <p>The <mark>mark element</mark> indicates a highlight</p>

        <p><code>This is what inline code looks like.</code></p>

        <p><samp>This is sample output from a computer program</samp></p>

        <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
      </div>
    </div>
  </div>

  <div class="atoms-time">
    <div class="pattern-header">
      Time
    </div>
    <div class="pattern-body">
      <p><%= time_tag Date.yesterday, "Yesterday" %></p>
      <p><%= time_tag Time.current, "Right now" %></p>
    </div>
  </div>

  <div class="atoms-hr">
    <div class="pattern-header">
      HR
    </div>
    <div class="pattern-body">
      <hr>
    </div>
  </div>
  </body>
</html>
