<div class="atoms-icons">
  <div class="pattern-header">
    Icons
  </div>
  <div class="pattern-body">
    <%= image_tag "icons/browse.png", alt: "Find an event" %>
    <%= image_tag "icons/join.png", alt: "Join a table" %>
    <%= image_tag "icons/talk.png", alt: "Make new friends" %>
    <%= image_tag "icons/submit.png", alt: "Introduce yourself" %>
    <%= image_tag "icons/create.png", alt: "Let the cooking begin" %>
    <%= image_tag "icons/paid.png", alt: "Get paid!" %>
    <%= image_tag "icons/heart.png", alt: "Heart" %>
    <%= image_tag "icons/quotes-opening.png", alt: "Opening quotes" %>
    <%= image_tag "icons/quotes-closing.png", alt: "Closing quotes" %>
    <%= image_tag "icons/chevron-left.png", alt: "<" %>
    <%= image_tag "icons/chevron-right.png", alt: ">" %>
    <%= image_tag "icons/map-pin.png", alt: "Map pin" %>
  </div>
</div>