<div class="user-sign-in">
  <h2 class="user-sign-in__title">Log in</h2>

  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <%= f.input :email, autofocus: true, required: false,
          input_html: { class: "user-sign-in__email-input" },
          label_html: { class: "user-sign-in__email-label" } %>
    <%= f.input :password, input_html: { class: "user-sign-in__password-input" },
                           label_html: { class: "user-sign-in__password-label" } %>

    <div class="user-sign-in__right-container">
      <%= f.input :remember_me, as: :boolean, label: "Remember me",
            wrapper_html: { class: "user-sign-in__remember-me" },
            input_html: { class: "user-sign-in__remember-me-input" },
            label_html: { class: "user-sign-in__remember-me-label" } %>
      <%= f.button :submit, "Log in", class: "user-sign-in__submit" %>
    </div>
  <% end %>
</div>
