<div class="organisms-item-list">
  <div class="pattern-header">
    Item list
  </div>
  <div class="pattern-body">
    <div class="item-list-container">
      <div class="item-list">
        <input type="radio" name="toggle-content-mobile" id="content-1-mobile" class="toggle toggle-content-1" checked>
        <input type="radio" name="toggle-content-mobile" id="content-2-mobile" class="toggle toggle-content-2">

        <div class="label-container">
          <label class="btn-header label-content-1" for="content-1-mobile">Optio</label>
          <label class="btn-header label-content-2" for="content-2-mobile">Non soluta</label>
        </div>

        <div class="content-container">
          <div class="togglable-content togglable-content-1">
            <div class="item">
              <div class="content">
                <div class="image-container">
                  <%= image_tag "icons/browse.png" %>
                </div>
                <div class="text-container">
                  <h6>Lorem ipsum dolor.</h6>
                  <p>Culpa nihil fugiat nisi</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="image-container">
                  <%= image_tag "icons/join.png" %>
                </div>
                <div class="text-container">
                  <h6>Ipsam accusamus.</h6>
                  <p>Illo quia voluptatibus autem odio amet debitis</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="image-container">
                  <%= image_tag "icons/talk.png" %>
                </div>
                <div class="text-container">
                  <h6>Cupiditate alias </h6>
                  <p>Exercitationem eos, officiis maiores numquam qui cum,</p>
                </div>
              </div>
            </div>
          </div>

          <div class="togglable-content togglable-content-2">
            <div class="item">
              <div class="content">
                <div class="image-container">
                  <%= image_tag "icons/submit.png" %>
                </div>
                <div class="text-container">
                  <h6>Velit perferendis</h6>
                  <p>Ipsum minus, deserunt architecto labore.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="image-container">
                  <%= image_tag "icons/create.png" %>
                </div>
                <div class="text-container">
                  <h6>Quam reprehenderit</h6>
                  <p>Eius tempora odio at ipsum quo</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="image-container">
                  <%= image_tag "icons/paid.png" %>
                </div>
                <div class="text-container">
                  <h6>Maiores numqua!</h6>
                  <p>Cupiditate deleniti officia doloribus</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
