<li>
  <%= link_to "Home", root_path %>
</li>

<li class="<%= 'active' if active_controller?('admin') %>">
  <%= link_to "Dashboard", admin_dashboard_path %>
</li>

<li class="<%= 'active' if active_controller?('events') %>">
  <%= link_to "Events", admin_events_path %>
</li>

<li class="<%= 'active' if active_controller?('hosts') %>">
  <%= link_to "Hosts", admin_hosts_path %>
</li>
