<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag layout, media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag layout, "data-turbolinks-track" => true %>
  <!--[if lt IE 9]><%= javascript_include_tag "html5shiv.min.js" %><![endif]-->
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>
