<!DOCTYPE html>
<html lang="en" class="no-js">
  <script>
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
  </script>
  <%= render "layouts/head", layout: "application", title: content_for?(:title) ? yield(:title) : "WhatWeAte" %>
  <body id="<%= page_id %>">
    <% if page_id == "pages-home" %>
      <div class="site-header__container">
        <%= render "layouts/site_header" %>
      </div>
    <% else %>
      <%= render "layouts/site_header" %>
    <% end %>

    <%= render "layouts/flash_messages" %>

    <%= yield %>

    <div class="sticky-footer">
      <%= render "layouts/site_footer" %>

      <div class="made-with-love">
        <p class="made-with-love__text">
          Made with <i class="fa fa-heart"></i> in London. &copy; WhatWeAte 2015
        </p>
      </div>
    </div>

    <script>
      var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"share.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}id=id+"_";if(!gi.call(d,id)){qs=ce.call(d,"link");qs.rel="stylesheet";qs.id=id;qs.href=b+"share-button.css";s=gt.call(d,"head")[0];s.appendChild(qs,s)}
      googleAnalyticsTracker.init("<%= Settings.ga_tracking_id %>");
      googleAnalyticsConversions.init();
      smoothAnchorLinks.init();
    </script>
  </body>
</html>
