<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="<%= controller.controller_name %>">

    <%= render 'shared/header' -%>

    <main>
      <%= yield -%>
    </main>

    <%= render 'shared/footer' -%>

  </body>
</html>
