<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="<%= controller.controller_name %>">

    <%= render 'shared/header' -%>

    <main>

      <!--  -->

      <div>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>
        <% end %>
      </div>

      <div class="flash-messages">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <!--  -->

      <%= yield -%>
    </main>

    <%= render 'shared/footer' -%>

  </body>
</html>
