<div class="member-profile">
  <%= gravatar_image_tag @user.email, class: "member-profile__avatar" %>

  <h2 class="member-profile__full-name">
    <%= @user.full_name %>
  </h2>

  <p class="member-profile__bio">
    <%= @user.bio %>
  </p>

  <div class="member-profile__social-verifications">
    <% if @verified_with_facebook %>
      <img class="member-profile__social-verification" src="" alt="Verified with Facebook">
    <% else %>
      <img class="member-profile__social-verification" src="" alt="Not verified with Facebook">
    <% end %>

    <% if @verified_with_twitter %>
      <img class="member-profile__social-verification" src="" alt="Verified with Twitter">
    <% else %>
      <img class="member-profile__social-verification" src="" alt="Not verified with Twitter">
    <% end %>
  </div>

  <% if @upcoming_booked_events.present? && @past_booked_events.present? %>
    <div class="member-profile__guest-events">
      <% if @upcoming_booked_events.present? %>
        <div class="member-profile__event-group upcoming-events">
          <%= render partial: "events", locals: { title: "Events I'm going to", events: @upcoming_booked_events } %>
        </div>
      <% end %>
      <% if @past_booked_events.present? %>
        <div class="member-profile__event-group past-events">
          <%= render partial: "events", locals: { title: "Events I've been to", events: @past_booked_events } %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user_is_host && @upcoming_hosted_events.present? && @past_hosted_events.present? %>
    <div class="member-profile__host-events">
      <% if @upcoming_hosted_events.present? %>
        <div class="member-profile__event-group upcoming-events">
          <%= render partial: "events", locals: { title: "My upcoming events", events: @upcoming_hosted_events } %>
        </div>
      <% end %>
      <% if @past_hosted_events.present? %>
        <div class="member-profile__event-group past-events">
          <%= render partial: "events", locals: { title: "My past events", events: @past_hosted_events } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
