<div class="member-profile">
  <%= gravatar_image_tag @user.email, class: "member-profile__avatar" %>

  <h2 class="member-profile__full-name">
    <%= @user.full_name %>
  </h2>

  <p class="member-profile__bio">
    <%= @user.bio %>
  </p>

  <% if @verified_with_facebook %>
    <p>
      Verified with Facebook
    </p>
  <% end %>

  <% if @verified_with_twitter %>
    <p>
      Verified with Twitter
    </p>
  <% end %>

  <div class="member-profile__section">
    Greeting:
    <%= @user.greeting %>
    <br />

    Profession:
    <%= @user.profession %>
    <br />

    Favourite cuisine:
    <%= @user.favorite_cuisine %>
    <br />

    <% if @user.date_of_birth_visible? %>
      Date of birth:
      <%= @user.date_of_birth %>
      <br />
    <% end %>

    <% if @user.mobile_number_visible? %>
      Mobile number:
      <%= @user.mobile_number %>
      <br />
    <% end %>
  </div>

  <div class="member-profile__section">
    <div class="guest">
      <div class="booked-events">
        <h1>My booked events</h1>
        <% @upcoming_booked_events.each do |event| %>
          <%= link_to event.title, event_path(event) %>
        <% end %>
      </div>

      <div class="past-events">
        <h1>My past events</h1>
        <% @past_booked_events.each do |event| %>
          <%= link_to event.title, event_path(event) %>
        <% end %>
      </div>
    </div>

    <% if @user_is_host %>
      <div class="host">
        <div class="upcoming-events">
          <h1>My upcoming events</h1>
          <% @upcoming_hosted_events.each do |event| %>
            <%= link_to event.title, event_path(event) %>
          <% end %>
        </div>

        <div class="past-events">
          <h1>my past events</h1>
          <% @past_hosted_events.each do |event| %>
            <%= link_to event.title, event_path(event) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
