<div class="wip">
  <%= gravatar_image_tag @user.email %>

  Full name:
  <%= @user.full_name %>

  First name:
  <%= @user.first_name %>

  Last name:
  <%= @user.last_name %>

  <% if @user.date_of_birth_visible? %>
    Date of birth:
    <%= @user.date_of_birth %>
  <% end %>

  Profession:
  <%= @user.profession %>

  Greeting:
  <%= @user.greeting %>

  Bio:
  <%= @user.bio %>

  <% if @user.mobile_number_visible? %>
    Mobile number:
    <%= @user.mobile_number %>
  <% end %>

  Favourite cuisine:
  <%= @user.favorite_cuisine %>

  <% if @verified_with_facebook %>
    Verified with Facebook
  <% end %>

  <% if @verified_with_twitter %>
    Verified with Twitter
  <% end %>

  <div class="booked-events">
    <% @upcoming_booked_events.each do |event| %>
      <%= link_to event.title, event_path(event) %>
    <% end %>
  </div>

  <div class="past-events">
    <% @past_booked_events.each do |event| %>
      <%= link_to event.title, event_path(event) %>
    <% end %>
  </div>
</div>
